@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ProductsAsList">Show products as a list</a>
    <br/>
    <a asp-action="ProductsAsTable">Show products as a table</a>
</div>